body {
  background-color: lightblue;
  margin: 0;
  font-family: sans-serif;
}

.cells {
  border: 1px solid gray;
  min-width: 10px;
  min-height: 20px;
  display: inline-block;
  margin-right: 2px;
}
